
/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*structure*/

:root {

    /* cores */
    --cor-primaria: #1F5D4A;
    --cor-secundaria: #8FB9A5;
    --cor-destaques: #C9785A;
    --cor-detalhe: #D9A441;
    --cor-bg: #F7F1E8;

    --cor-texto: #3B3028;

    /* fontes */

    --fonte-principal: "Montserrat", sans-serif;
    --fonte-destaque: "Dancing Script", cursive;
    --fonte-destaque-h1: "Dancing Script", cursive;

    
    --txt-padrao: 400 16px/140% var(--fonte-principal);
    --txt-destaque: 500 20px/140% var(--fonte-destaque);
    --txt-destaque-h1: 700 48px/160% var(--fonte-destaque-h1);
    --txt-h2-h3: 600 24px/140% var(--fonte-principal);
    --txt-h1: 700 36px/140% var(--fonte-principal);


}

body {

    font: var(--txt-padrao);
    color: var(--cor-texto);
    background-color: var(--cor-bg);
}

h1 {

    font: var(--txt-h1);
    color: var(--cor-texto);

}

h2,h3 {

    font: var(--txt-h2-h3);
    color: var(--cor-texto);
}

p {

    font: inherit;
    color: var(--cor-texto);
}

a {
    font: inherit;
    color: var(--cor-destaques);
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;

    cursor: pointer;

}

a:hover {

    background-color: var(--cor-destaques);
    color: var(--cor-bg);
}

ul {

    font: var(--txt-padrao);
    color: var(--cor-texto);
}