@import url(global.css);

/* HEADER */

#cabecalho {

    max-width: 1920px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

/* Identidade */

.identidade {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* LOGO */

#icone {

    width: 140px;
    height: auto;
    flex-shrink: 0;

}

/* Titulo */
#titulo {

    display: flex;
    flex-direction: column;
    gap: 2px;
 
}

#titulo h1 span {
    font: var(--txt-destaque-h1);
}


#titulo p {

    font: var(--txt-destaque);
    text-decoration: overline 1px;
    
}

/* MENU */


#menu {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
 
}

#menu h2 {

    display: none;
}

#menu ul {

    display: flex;
    gap: 18px;

    list-style: none;
    flex-wrap: nowrap;

}

#menu a { 

    font: var(--txt-padrao);
    color: var(--cor-primaria);

    text-decoration: none;

    padding: 6px 8px;
    border-radius: 6px;

    transition: 0.3s;
}

#menu a:hover {
    color: var(--cor-bg);
    background-color: var(--cor-primaria);

    transform: translateY(-2px);
}

#menu .link-reserva:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-bg);
}


